<div class="footer">
    <p>&copy; 2023 AI Course. All rights reserved.</p>
    <ul>
        <li><a href="#privacy-policy">Privacy Policy</a></li>
        <li><a href="#terms-of-service">Terms of Service</a></li>
        <li><a href="https://www.facebook.com/yourpage" target="_blank">Facebook</a></li>
        <li><a href="https://www.twitter.com/yourpage" target="_blank">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/yourpage" target="_blank">LinkedIn</a></li>
    </ul>
</div>